.vibrant {
    .button8 {
        .text {
            backdrop-filter: blur(5px);
        }

        .background {
            content: "";
        }

        &:hover {
            .background {
                transform: rotate(15deg);
                transform-origin: bottom;
            }
        }
    }
}