.pastel .button8::after {
    @apply absolute top-0 left-0 w-[100%] h-0 z-[-1];
    content: "";
    background: #ffffff;
    transition: height 1s;
    filter: blur(12px);
}

.pastel .button8:hover::after {
    height: 10%;
}